[access]
	inheritFrom = All-Projects
[project]
	description = My own files to enhance android build
[access "refs/*"]
	owner = group user/Chen Wei (weichen2046)
[access "refs/for/refs/*"]
	read = group user/Chen Wei (weichen2046)
	push = group user/Chen Wei (weichen2046)
	label-Code-Review = -2..+2 group user/Chen Wei (weichen2046)
	label-Verified = -1..+1 group user/Chen Wei (weichen2046)
	rebase = group user/Chen Wei (weichen2046)
	removeReviewer = group user/Chen Wei (weichen2046)
	submit = group user/Chen Wei (weichen2046)
[access "refs/heads/*"]
	read = group user/Chen Wei (weichen2046)
	create = group user/Chen Wei (weichen2046)
	push = +force group user/Chen Wei (weichen2046)
	pushMerge = group user/Chen Wei (weichen2046)
[access "refs/tags/*"]
	push = group user/Chen Wei (weichen2046)
	push = +force group user/Chen Wei (weichen2046)
